include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include gst_india *.css
recursive-include gst_india *.csv
recursive-include gst_india *.html
recursive-include gst_india *.ico
recursive-include gst_india *.js
recursive-include gst_india *.json
recursive-include gst_india *.md
recursive-include gst_india *.png
recursive-include gst_india *.py
recursive-include gst_india *.svg
recursive-include gst_india *.txt
recursive-exclude gst_india *.pyc